<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to The College Roster</h1>

  <h2>
    This is the home page for The College Roster.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
