<% provide(:title, 'Home') %>
<div class="center hero-unit">
<<<<<<< HEAD
  <h1>The College Roster</h1>

  <h2>
    Level the playing field
=======
  <h1>Welcome to The College Roster</h1>

  <h2>
    This is the home page for The College Roster.
>>>>>>> 5b8afc67183b26786e60a3c658bc64b97ea23e02
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
