<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>The College Roster</h1>

  <h2>
    Level the playing field
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
