<div class="span4" "container">
	<div>
	    <%= render 'shared/stats' %>
	</div>
	<div>	
		<%= render '/shared/micropost_form' %>
	</div>
</div>
<div class="span8" "container">
		<div>
			<%= render 'follow_form'%>
		</div>
	      <h3>Micropost Feed</h3>
	      <%= render '/shared/feed' %>
</div>