<div class="row">
	<div class="span9">
		<div>
		    <%= render 'shared/stats' %>
		</div>
		<div>	
			<%= render '/shared/micropost_form' %>
		</div>
	</div>
</div>

<div class="row span8">
	<%= render 'follow_form'%>
	<div class="container span8" id="scrollingfeed">
		<h3>Micropost Feed</h3>
		<%= render '/shared/feed' %>
	</div>
</div>