<% provide(:title, 'Athletes') %>
	<div class="filterblock">
	</div>
	<div class="results">
		<h1>Athletes</h1>
		<table class="Results">
		<% @athletes.each do |athlete| %>
  			<tr>
				<td><%= link_to athlete.full_name, athlete %></td>
  			<tr>
    			<td><%= athlete.city %>, <%= athlete.state %></td>
  			<br>
		<% end %>
		</table>
	</div>
<br>

<%= link_to 'New Athlete', new_athlete_path %>
